/* =========================
   WHY HIRE ME SECTION
========================= */
#whyhire {
  scroll-margin-top: 90px;
}

.why-hire {
  padding: 30px 8%;
   background: #fcf9fe;
}

/* =========================
   HEADER
========================= */

.why-header {
  text-align: center;
  margin-bottom: 70px;
}

.why-header span {
  color: #4f46e5;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
}

.why-header h2 {
  margin-top: 12px;
  font-size: 3rem;
  color: #0f172a;
}

.why-header p {
  max-width: 700px;
  margin: 20px auto 0;
  color: #64748b;
  line-height: 1.8;
}

/* =========================
   GRID
========================= */

.why-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* =========================
   CARD
========================= */

.why-card {
  background: #fff;

  padding: 35px;

  border-radius: 24px;

  border: 1px solid #e2e8f0;

  text-align: center;

  transition: all .3s ease;

  box-shadow:
    0 10px 30px rgba(15,23,42,.05);
}

.why-card:hover {
  transform: translateY(-8px);

  box-shadow:
    0 20px 40px rgba(79,70,229,.12);
}

/* =========================
   ICON
========================= */

.why-icon {
  width: 90px;
  height: 90px;

  margin: 0 auto 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  background: #26017d;

  color: white;

  font-size: 35px;

  transition: .3s ease;
}

.why-card:hover .why-icon {
  background: #ba9beb;
  color: white;
}

/* =========================
   TEXT
========================= */

.why-card h3 {
  margin-bottom: 15px;
  color: #0f172a;
}

.why-card p {
  color: #64748b;
  line-height: 1.8;
}

/* =========================
   TABLET
========================= */

@media (max-width: 992px) {

  .why-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .why-header h2 {
    font-size: 2.5rem;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 768px) {

  #whyhire {
  scroll-margin-top: 70px;
}
  .why-hire {
    padding: 50px 30px;
  }

  .why-grid {
    grid-template-columns: 1fr;
  }

  .why-header h2 {
    font-size: 2rem;
  }

  .why-card {
    padding: 25px;
  }
}